.article_wrap1{margin-top: 0;}
/* 戻るボタン */
.back_btn{
  color: #FF6A29;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.2em;
  padding: 80px 10px 30px;
  align-items: center;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.back_btn i{
  font-size: 30px;
  margin-right: 10px;
}

/* ーーーーーーーー */

.by_category{
  color: #fff;
  padding: 50px 0;
  font-weight: bold;
  letter-spacing: 0.2em;
  cursor: pointer;
}
.by_category h2{
  background: #FF6A29;
  padding: 20px 30px;
}
.by_category:hover{
  opacity: 0.8;
}

.fa-chevron-circle-down{
  margin-left: 75%;
  font-size: 20px;
}

/* メインコンテンツ */

.category_top{
  background: #FFA42C;
  display: flex;
  color: #fff;
  letter-spacing: 0.2em;
  padding: 5px;
  font-weight: bold;
  height: 180px;
}
.category_page_title{
  width: 50%;
  padding: 70px 20px;
}
.category_page_title h3{
  border-bottom: solid 2px #fff;
  padding-bottom: 10px;
  font-size: 18px;
}
.category_page_title p{
  margin-top: 10px;
  font-size: 14px;
}

.category_top img{
  width: 50%;
  object-fit: cover;
}

.category_articles{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category_article{
  height: 180px;
  width : 250px;
  margin: 30px 0;
  border: solid 3px #FFA42C;
  position: relative;
}

.category_articles time{
  position: absolute;
  top: 0;
  left: 0;
  background: #FFA42C;
  padding: 7px 10px;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #fff;
}
.category_article img{
  height: 120px;
  width: 244px;
  object-fit: cover;
}
.category_article p{
  height: 60px;
  padding: 10px 15px;
}

.more_btn{
  text-align: center;
  color: #fff;
  background: #FFA42C;
  margin-left: 67%;
  margin-bottom: 100px;
  padding: 20px 30px;
  display: flex;
}
.more_btn:hover{opacity: 0.8;}
.more_btn a{
  padding: 0 25%;
  color: #fff;
  text-decoration: none;
}
.fa-angle-right{
  color: #fff;
}

/* 記事カラー */
.pink,
.pink_border time{background: #f44078;}
.pink_border{border: solid 3px #f44078;}

.green,
.green_border time{background: #33d3a9;}
.green_border{border: solid 3px #33d3a9;}

.blue,
.blue_border time{background: #1eafd1;}
.blue_border{border: solid 3px #1eafd1;}




/* ドロップダウン */

#js-dropdown-menu{
  margin: auto;
  overflow: hidden;
  width: 100%;
  display: none;
}




@media screen and (max-width: 640px) {

  .category_top{
    display: block;
    width: 80%;
    height: 250px;
    margin: 0 auto 10px;
  }

  .category_page_title{
    padding: 0;
    height: 50%;
    width: 100%;
    line-height: 2;
  }

  .category_page_title h3 {
    padding-bottom: 5px;
  }
  .category_page_title p {
    margin-top: 5px;
  }
  .category_top img{
    width: 100%;
    height: 50%;
  }

  .by_category {
    padding: 10px 0 30px;
  }

  .by_category h2 {
    background: #FF6A29;
    padding: 20px 30px;
    align-items: center;
  }

  .fa-chevron-circle-down {
    margin-left: 0!important;
    font-size: 16px!important;
  }
  
  .category_articles{
    justify-content: center;
  }

  .category_article {
    height: 200px;
    width: 80%;
    margin: 15px 0;
  }
  .category_article img{
    width: 100%;
  }


  .more_btn {
    width: 70%;
    margin: 10px auto 70px;
    padding: 20px 0;
    height: 100;
  }

}