.site_info_title{
  font-size: 16px;
  letter-spacing: 0.2em;
  color: #FF6A29;
  text-align: center;
  font-weight: bold;
}


.site_info_title h2{
  border: 2px solid #FF6A29;
  border-radius: 50px;
  padding: 15px 10px;
  width: 50%;
  margin: 0 auto;
}



.site_info_cotent{
  margin-top: 120px;
  letter-spacing: 0.2em;
}
.top_page_link a{
  display: flex;
  color: #666;
  text-decoration: none;
}
.top_page_link a img{
  height: 25px;
  width: 170px;
  /* object-fit: cover; */
}

.top_page_link p{
  margin-left: 50px;
  letter-spacing: 0.2em;
  border-bottom: 1px solid #FF6A29;
  line-height: 25px;
}

.sitemap_link{
  color: #FF6A29;
  letter-spacing: 0.2em;
  display: flex;
  flex-wrap: wrap;
  /* text-align: center; */
}

.sitemap_link li{
  margin: 50px 0;
  width: 50%;
}

.sitemap_link li p{
  margin: 25px 0 0 20px;
}

.sitemap_link p a{
  border-bottom: 1px solid #FF6A29;
  padding-bottom: 8px;
  color: #666;
  text-decoration: none;

}

.sitemap_link .center{
  text-align: center;
}

.sitemap_link .center p{
  text-align: left;
  margin-left: 30%;

}


@media screen and (max-width: 640px) {
  .site_info_title p {
    border: 2px solid #FF6A29;
    border-radius: 50px;
    padding: 15px 5px;
  }

  .site_info_cotent li span{
    letter-spacing: 0.1em;
  }

  .site_info_cotent{
    line-height: 2;
    font-size: 13px;
  }

  .site_info_title h2{
    width: 100%;
    padding: 10px;
    letter-spacing: 0.05em;
  }

  .top_page_link a{
    display: block;
  }
  .top_page_link p{
    width: 40%;
    margin: 20px auto 0;
  }
  
}